@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "~aos/dist/aos.css";
@import '~swiper/swiper-bundle.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

[x-cloak] {
    display: none;
}

.box-shadow {
    box-shadow: -0.0625rem 0 0.625rem 0 rgba(0, 0, 0, 0.07), 0.3125rem 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.04);
}
@layer components {
    .btn-scale {
        @apply active:scale-95 transition ease-in-out duration-150
    }
}

.background-filter {
    /*filter: grayscale(1) contrast(1.2) opacity(0.4); */
    -webkit-filter: blur(2px) grayscale(1) contrast(1.2) opacity(0.4);
    -moz-filter: blur(2px) grayscale(1) contrast(1.2) opacity(0.4);
    -o-filter: blur(2px) grayscale(1) contrast(1.2) opacity(0.4);
    -ms-filter: blur(2px) grayscale(1) contrast(1.2) opacity(0.4);
    filter: blur(2px)  grayscale(1) contrast(1.2) opacity(0.4);
    background-color: rgba(0, 0, 0, 0.5);
}
